.App {
  /* text-align: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  color: red;
  background-color: gray;
  /* margin: 50px; */
  /* position: relative; */
  /* transform: scale(0.5); */
}

.song-list {
  list-style: none;
}
